
html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color:rgb(246, 246, 238); 
}

.border{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border: 20px solid rgb(31, 31, 31);
    position: fixed;
}