#name{
    font-size: 1em;
    text-align: center;
    line-height: 200%;
    text-shadow:none;
}

#name span{
    color: black;
    background-color: white;
}

p{
    padding:10%;
    font-size: 0.5em;
}

p span{
    background-color: white;
}

#back{
    color: rgb(108,166,166); 
}

a:hover {
    text-decoration: none;
}