html, body {
  font-family: 'Roboto Mono', monospace;
  width:  100%;
  height: 100%;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
  background:rgb(228,85,83);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  border: 3px solid black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: 3px solid black;
  background: rgb(138,196,196); 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(108,166,166); 
}

canvas {
    position: fixed;
    display: block;
    z-index:-101;   
}

#grid{
  position: fixed;
  display: block;
  z-index:-103;
}

.navigation{
  position: fixed;
  top: 40px;
  right: 70px;
  color: rgb(0,110,171);
  text-align: right;
  font-weight: 500;
  line-height: 200%;
}

.navigation span {
  border-radius: 20px;
  background-color: white;
}

.title{
  color: rgb(138,196,196);
  text-align: right;
  line-height: 240%;
  font-size: 2em;
  font-weight: 700;
  text-shadow: -3px -3px black;
}

.title span{
  color: rgb(228,85,83);
  font-weight: 700;
}

.container{
  display: grid;
  overflow: auto;
  /* border: 1px solid black; */
  height: 80%;
  width: 80%;
  position: fixed;
  bottom: 30px;
  right: 50px;
  padding-right:40px;
  align-items: flex-end;
}



a{
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: line-through;
  color: rgb(228,85,83);
  font-weight: 700;
}

@media only screen and (min-width: 2000px) {
  .title{
    font-size: 2.5em;
    text-shadow: -4px -4px black;
  }

  .container{
    bottom: 50px;
    right: 70px;
  }

  .navigation{
    top: 60px;
    right: 90px;
  }

  ::-webkit-scrollbar {
    width: 24px;
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border: 5px solid black;
    border-radius: 12px;
  }
   
  ::-webkit-scrollbar-thumb {
    border: 5px solid black;
    border-radius: 12px;
  }
}

@media  only screen and (max-width: 800px) {
  .title{
    font-size: 1.5em;
    text-shadow: -2px -2px black;
  }

  .container{
    bottom: 20px;
    right: 20px;
    padding-right:20px;
  }

  .navigation{
    top: 20px;
    right: 30px;
  }

}


@media only screen and (max-width: 480px) {
  .title{
    font-size: 0.9em;
    text-shadow: -1.5px -1.5px black;
  }

  .container{
    bottom: 10px;
    right: 10px;
    padding-right:20px;
  }

  .navigation{
    top: 15px;
    right: 10px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border: 2px solid black;
  }
   
  ::-webkit-scrollbar-thumb {
    border: 2px solid black;
  }
}


