img {
    width: 100%;
}
  
.imgContainer{
    box-sizing: border-box;
    border: 6px solid rgb(0,110,171);
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 80%;
    position: fixed;
    bottom: 70px;
    right: 70px;
    left: 70px;
}

.imgScroll{
    box-sizing: border-box;
    overflow-y: scroll;
    padding-right: 10px;
    height: 100%;
    border-radius: 18px;
}

.longImg{
    display: grid;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 18px;
}

#back{
    color: rgb(108,166,166); 
}

@media only screen and (min-width: 2000px) {
    .imgContainer{
        border: 8px solid rgb(0,110,171);
        bottom: 90px;
        right: 90px;
        left: 90px;
    }
  }
  
  @media  only screen and (max-width: 800px) {
    .imgContainer{
        border: 5px solid rgb(0,110,171);
        bottom: 30px;
        right: 30px;
        left: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .imgContainer{
        border: 4px solid rgb(0,110,171);
        bottom: 10px;
        right: 10px;
        left: 10px;
        padding: 5px;
        border-radius: 14px;
    }

    .imgScroll{        
        padding-right: 5px;
        border-radius: 12px;
    }

    .longImg{
        border-radius: 12px;
    }

  }