img{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.nav{
    color:black;
    background-color: white;;
    padding:0px 3px; 
}

.nav:hover{
    color:black;
    font-weight: 800;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    cursor: default;
}

.header{
    display: grid;
    -webkit-column-count: 3;
    -moz-column-count: 3;
        column-count: 3;
    margin:-10px 30px 0 30px;
}

.coverText{
    font-family: 'Fugaz One', cursive;
    font-size: 8vw;
    line-height: 1.2em;
    color:black;
    transition: width 0.5s ease-in-out;
    grid-column: 1 / 3;
}

.note{
    padding-bottom: 44px;
    align-self: end;
    text-align: right;
    font-size: 0.8em;
    grid-column: 3 / 4;
}

.article{
    margin:0px 30px 30px 30px;
    border:none;
}

button{
    border:none;
    background:none;
}

.collapsible {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 2.4em;
    color: black;
    cursor: pointer;
    padding: 16px 10px 16px 0px;
    width: 100%;
    border-bottom:2px solid black;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    font-weight: 600;
}

.collapsible:after {
    content: '\002B';
    float: right;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 20px 8px;
    display: none;
    overflow: hidden;
    text-align: left;
    -webkit-column-count: 3;
    -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 200px;
    -moz-column-width: 280px;
        column-width: 280px;
    column-gap: 30px;
}
